body{
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topnav-menu, .menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus{
    padding: var(--default-pad);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainnav{
    padding: var(--medium-pad) 0 0;
    display: flex;
    flex-direction: column;
}

.mainnav > a{
    padding-left: var(--default-pad);
}

.main-content{
    background-color: #ccc;
    flex-grow: 1;
}

.main-content2{
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: -10px;
    display: flex;
}

.topnav{
    background-color: #C31D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-pad) var(--default-pad);
}

.topnav-menu li{
    display: inline-block;
    list-style: none;
}

main{
    padding: var(--default-pad);
}

#texto1{
    margin-left: 10px;
}

#provanew{
    border-radius: 33px;
    background: #C31D1D;
    color: #FFF;
    text-align: center;
    font-family: Heebo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
}

#txtProva1{
    margin-top: 46px;
    margin-left: -300px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#prova1{
    margin-top: -100px;
    margin-left: -250px;
    display: flex;
}

#txtProva2{
    margin-top: -176px;
    margin-left: 10px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#prova2{
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
}

#txtProva3{
    margin-top: -185px;
    margin-left: 750px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#prova3{
    margin-top: 20px;
    margin-left: 795px;
    display: flex;
}

#txtProva4{
    margin-top: -185px;
    margin-left: 1060px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#prova4{
    margin-top: 20px;
    margin-left: 1105px;
    display: flex;
}

#suasquestões{
    margin-left: 10px;
}

#txtmatematica{
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 140px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#Matemática{
    margin-top: 13px;
    margin-left: 187px;
    display: flex;
}

#txtportugues{
    margin-top: -142px;
    margin-left: 455px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#Português{
    margin-top: 24px;
    margin-left: 507px;
    display: flex;
}

#txtquimica{
    margin-top: -142px;
    margin-left: 756px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#Química{
    margin-top: 24px;
    margin-left: 803px;
    display: flex;
}

#txtfisica{
    margin-top: -142px;
    margin-left: 1059px;
    border-radius: 2px;
    background: #C31D1D;
    font-size: 28px;
    color: #FFF;
    font-family: Heebo;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    width: 196px;
    height: 39px;
    flex-shrink: 0;
}

#Física{
    margin-top: 24px;
    margin-left: 1109px;
    display: flex;
}