.central {
    display: flex;
    height: 92vh;
    justify-content: center;
    align-items: center;
}

.container-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    padding: 50px;
}

.container-logo {
    margin: 100px;
}

.email {
    border-radius: 17px solid #000;
    margin-bottom: 20px;
}